<!DOCTYPE html>
<html>
  <!-- TODO: Make this look nicer. -->
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Error <% if (errorCode) { %>(<%= errorCode %>)<% } %></h1>
    <pre><%= msg %></pre>
  </body>
</html>